[submodule "software"]
	path = software
	url = git@github.com:ULL-ESIT-GRADOII-TFG/tfg-berkan-software.git
[submodule "memoria"]
	path = memoria
	url = https://github.com/ULL-ESIT-GRADOII-TFG/memoria-tfg-berkan.git
